[submodule "module/Mot"]
	path = module/Mot
	url = https://github.com/megamitch/MOT_Application.git
[submodule "module/MotUsers"]
	path = module/MotUsers
	url = https://github.com/megamitch/MOT_Users.git
[submodule "module/MotAttendance"]
	path = module/MotAttendance
	url = https://github.com/megamitch/Attendance.git
