body {
    padding-top: 60px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.form-signin-header {
    margin: 0 auto;
}

.form-signin {
    max-width: 450px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    /*background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 14px;
    height: auto;
    margin-bottom: 10px;
    padding: 7px 9px;
}

#footer {
	border-top: 1px solid #000;
}

#footer .inner {
    padding: 20px 0;
	background: #111;
	border-top: 1px solid #222;	
}

.footer-links a {
	color: #57a900;
}

.footer-links a:hover {
	color: #8bc34a;
    text-decoration: none;
}

#extra {	
	border-top: 1px solid #827717;
}

#extra .inner {
	padding: 20px;
	
	color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	background-color: #7cb342;
	
	border-top: 1px solid #827717;
}

#extra h3 {	
	font-weight: 400;
}

#landing {
	height: auto;
	
	border: none;
	
	overflow: hidden;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    
}

#landing .inner {
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    	
	background: #8bc34a;
    /*background: #81994D url(./img/header-bg.png) repeat 0 0;*/
	
	
    
}

#landing .container {
	padding-top: 30px;
}